<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <link rel="stylesheet" href="style.css">
        <script src="https://dagammla.gitlab.io/fuwu.js/0.8.8/fuwu-pl.min.js"></script>
        <script src="https://dagammla.gitlab.io/fuwu.js/0.8.8/fuwu.min.js"></script>
        <script src="index.js"></script>
    </head>
    <body>
        <f-pl data="data" style="display: block; margin-bottom: 10px;">
            <div>
                <input type="range" f:min="1" f:max="6" f:value="data.playerCount" evt:input="data.playerCount = this.value" evt:mouseover="this.focus()"> Spieleranzahl: {{data.playerCount}}
            </div>
            <f-for from="getCreatureList()" as="creature">
                <div class="creature">
                    <input type="text" placeholder="Name" f:value="creature.name" evt:input="creature.name = this.value">
                    <br>
                    <input type="range" f:min="hpMin" f:max="hpMax" f:value="creature.hp" evt:input="creature.hp = this.value" evt:mouseover="this.focus()">
                    Leben: {{creature.hp}} - <span title="Vorraussichtliche Lebenszeit in Runden">Vr.: {{Math.ceil(creature.surviveRounds)}}</span>
                    <br>
                    <input type="range" f:min="blockMin" f:max="blockMax" f:value="creature.block" evt:input="creature.block = this.value" evt:mouseover="this.focus()"> Block: {{creature.block}}
                    <br>
                    <input type="range" f:min="damageMin" f:max="damageMax" f:value="creature.damage" evt:input="creature.damage = this.value" evt:mouseover="this.focus()"> Schaden: {{creature.damage}}
                    <br>
                    <input type="range" min="0" max="3" f:value="creature.throw" evt:input="creature.throw = this.value" evt:mouseover="this.focus()">Würfel: {{creature.throw}}x ({{getThrowLabel(creature.throw)}})
                    <br>
                    <span title="Durschnittlicher Schaden pro Runde">∅ Damage: {{creature.damagePerRound}}</span> -
                    <span title="Schaden mit schlechtestem Würfel">Min: {{creature.minDamage}}</span> -
                    <span title="Schaden mit bestem Würfel">Max: {{creature.maxDamage}}</span>

                    <div style="display: flex; flex-direction: column; position: absolute; top: 6px; right: 6px;">
                        <button evt:click="data.creatures.splice($index, 1)" title="Löschen">🗑️</button>
                        <button evt:click="data.creatures.push(creature.index)" title="Duplizieren">📋</button>
                        <button evt:click="saveCreature(creature)" title="Speichern">💾</button>
                    </div>
                    
                    <f-if check="data.creatures.filter(i => i == creature.index).length > 1">
                        <div style="position: absolute; bottom: 6px; right: 6px; font-size: 0.8em; color: darkblue">
                            <b>🔗:{{creature.index}}</b>
                        </div>
                    </f-if>

                </div>
            </f-for>
            <b style="position: sticky; background-color: white; bottom: 0;">Schwierigkeit: {{data.difficulty}}%</b>
            <br><br>
            <button evt:click="addNewCreature()">Neue Kreatur</button>
            <button evt:click="data.loadDialogOpen = true">Kreaturen Laden</button>
        </f-pl>
        <f-pl data="data">
            <f-if check="data.loadDialogOpen">
                <div class="dialog">
                    <f-if check="Object.keys(data.savedCreatures).length == 0">
                        <i>Keine Kreaturen gespeichert</i>
                    </f-if>
                    <f-for from="Object.values(data.savedCreatures)" as="creature">
                        <div class="saved-creature">
                            <span>{{creature.name}}</span>
                            <button evt:click="addSavedCreature(creature)" title="Laden">📋</button>
                            <button evt:click="deleteSavedCreature(creature)" title="Löschen">🗑️</button>
                        </div>
                    </f-for>
                </div>
                <div class="dialog-backdrop" evt:click="data.loadDialogOpen = false"></div>
            </f-if>
            
        </f-pl>
    </body>
</html>