html {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
}

body {
    max-height: 100%;
    margin: 0;
    padding: 8px;
    transform-origin: top left;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
*:focus{
    outline: none;
}

input[type=range]{
    height: 2.5em;
    transform-origin: center left;
    transform: scale(1.5);
    width: 15em;
    margin-right: 8em;
}

input[type=text]{
    font-size: 1em;
    font-weight: 600;
}

.creature {
    outline: solid 2px red;
    width: 620px;
    padding: 6px;
    margin: 6px 0px;
    position: relative;
}

button {
    height: 2em;
    font-size: 1em;
}

.dialog {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    max-height: 80vh;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
    outline: solid 4px black;
    z-index: 5;
    background-color: white;
    gap: 6px;
}

.saved-creature {
    outline: solid 2px red;
    padding: 6px;
    position: relative;
}

.saved-creature button {
    float: right;
}

.saved-creature span {
    position: absolute;
    max-width: calc(100% - 100px);
    display: inline-block;
    text-overflow: ellipsis;
    word-wrap: none;
    white-space: nowrap;
    overflow-x: hidden;
}

.dialog-backdrop{
    position: fixed;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

[title]{
    cursor: help;
}